.List {
  margin: 0;
  padding: 0;

  ul, li {
    margin: 0;
    padding: 0;
  }

  ul {
    padding: 8px;
    width: calc(100% - 16px);
  }

  li {
    list-style: none;
  }

  .category-name {
    padding: 8px 16px 0;
  }
}
