.ListItem {
  align-items: center;
  border-radius: 24px;
  display: grid;
  font-size: 1.25rem;
  grid-template-columns: 1fr 50% 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 8px;
  padding: 8px;
  width: calc(100% - 16px);

  span {
    display: block;
  }

  .is-required, .is-mandatory {
    align-items: center;
    display: flex;
    justify-content: center;
  }
}
